*{
    padding:0;
    margin: 0;
    border:border-box;
}
.body{
    font-family: sans-serif;
    background-color: #fff;
    color:#000;
    /* font-size: 18px; */
}
a{
    text-decoration: none;
    color:#000
}
.nav-bar{
    width: 90%;
    margin: auto;
}

.main-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    height:30px;
    padding:20px 0px 20px 0px;
    font-size: 16px;
}
.main-nav .logo{
    width:110px;
}
.main-nav ul{
    display:flex;
}
ul{
    list-style: none;
}
.main-nav ul li{
    padding:0px 10px 0px 10px;
}
.main-nav ul li a:hover{
    border-bottom: 2px solid black;
}
.main-nav ul.main-menu{
    flex: 1;
    margin-left: 20px;
}

.hero-section{
    height:600px;
    width: 100%;
    background-image: url(microsoft-hero-section.jpg);
    background-size: cover;
    background-repeat: none;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.main-nav ul.right-menu{
    font-size: 16px;
}
.hero-section h1{
    margin-left: 100px;
    margin-bottom: 10px;
    font-size: 40px;
    font-weight: bolder;
    color:black;
}
.hero-section p{
    margin-left: 100px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 300px;
}

.bcg-write{
    width:450px;
    height:55px;
    margin-top: 10px;
    display: flex;
    align-items:center;
    justify-content: center;
    justify-content: space-evenly;
    margin-left: 80px;
    margin-bottom: 10px;
}
.bcg-write button{
    margin-top: 10px;
    height:50px;
    width:160px;
    background-color: #0067b8;
    color: white;
    display: flex;
    align-items:center;
    justify-content: center;
    font-size: 18px;
    font-weight: 600;
}
.dis{
    height: 40px;
    width: 200px;
    margin-left:10px;
    display: flex;
    align-items:center;
     padding: 8px 27px 8px 0px; 
    font-size: 18px;
    font-weight: 600;
}
.dis i{
    font-size: 20px;
    margin-left: 7px;
    border-bottom: none;
}
.dis a:hover{
    border-bottom: 2px solid black ;
}
.dis a:hover i{
    margin-left:10px;
}
.office-line{
    width: 90%;
    height:110px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.office{
    height:75px;
    width:200px;
    padding:16px 24px;
    
}
.office-line i{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 45px;
}
/* 
.surface{
    height:75px;
    width:200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.surfacei{
    height:50px;
    width:50px;
    background-image: url('.vscode/img2.jpg');
    background-size: cover;
    background-repeat: none;
}
.surface p{
    width:200px;
    margin-top:40px;
    color:#0067b8;
    font-size:19px;
    font-weight: 500;
    border-bottom: 2px solid #0067b8;
} */
.office-line a{
    display: flex;
    margin-left: 0px;
    color:#0067b8;
    font-size:18px;
    font-weight: 500;
    border-bottom: 2px solid #0067b8;
}

.line1{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 15px;
    margin-top:20px;
}
.line1 img{
    width: 100%;
    margin-bottom: 10px;
}
.line1 h3{
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 25px;
}
.line1 p{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
}
.line1 a{
    display: inline-block;
    padding-top: 10px;
    color:#0067b8;
    font-size: 20px;
    font-weight: bold;
}
.line1 a:hover{
    border-bottom:2px solid #0067b8;
}
.line1 a:hover i{
    margin-left: 10px;
}


.hero-section1{
    margin-top: 20px;
    margin-bottom: 20px;
    height:600px;
    width:100%;
    background-image: url('hero-section1.jpg');
    background-size: cover;
    background-repeat: none;
    background-image: center;
}
.hero-section1 .head1{
    width:50%;
    padding:150px 0;
}
.hero-section1 .head1 h1{
    margin-left: 100px;
    margin-bottom: 10px;
    font-size: 35px;
    font-weight: bolder;

}
.hero-section1 .head1 p{
    font-size:25px;
    color:black;
    margin-left: 100px;
    margin-bottom: 40px;
}

.hero-section1 .head1 a{
    
    font-size: 30px;
    font-weight: 600;
    align-items: center;
}
.hero-section1 .head1 .btn{
    margin-left: 100px;
    background-color: #0067b8;
    color: white;
   
}

h2{
    font-size: 40px;
    margin-top: 20px;
    margin-left: 18px;
    margin-bottom: 20px;
}
.line2{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 15px;
    margin-top:20px;
}
.line2 img{
    width: 100%;
    margin-bottom: 10px;
}
.line2 h3{
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 25px;
}
.line2 p{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
}
.line2 a{
    display: inline-block;
    padding-top: 10px;
    color:#0067b8;
    font-size: 20px;
    font-weight: bold;
}
.line2 a:hover{
    border-bottom:2px solid #0067b8;
}
.line2 a:hover i{
    margin-left: 10px;
}
.footer1{
    margin-left: 15px;
    margin-top: 20px;
    font-size: 25px;
    font-weight: lighter;
}
.footer1 i{
    margin-left: 15px;
}
.footer2{
    height:50px;
    width:200px;
    background-color: gray;
    border-radius: 4px;
    border:2px solid #ddd;
    position: absolute;
    right: 5px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer2 i{
    font-size: 25px;
    margin-right: 15px;
}
.footer2:hover{
    background-color: #fff;
}

.footer31{
    margin-top: 60px;
    background-color: #f2f2f2;
    color:#616161;
    height:500;
    width: 100%;
    position: center;
    display: flex;
    justify-content: space-evenly;
}
.insfooter2 .ul{
    margin-top: 20px;
}
ul p{
    margin-top: 15px;
    font-size: 1.5rem;
    font-weight: bolder;
}
ul a{
    display: block;
    font-size: 1rem;
    margin-top: 10px;
    color:#616161;
}
ul a:hover{
    color:#000;
    border-bottom: 1.5px solid black;
}

.footer3 .insfooter1{
    background-color: #f2f2f2;
    color:#616161;
    font-size: 1rem;
}
.footer3 .insfooter1 div{
    margin-left: 20px;
    display: flex;
    align-items: center;
}
.footer3 .insfooter1 div i{
    font-size: 1.5rem;
    margin-left: 10px;
}
.footer3 .insfooter2{
    max-width: 1300px;
    padding:0 20px 0 20px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}
.footer3 .insfooter1 ul{
    display: flex;
    flex-wrap: wrap;
}
.footer3 .insfooter1 li{
    margin-left: 30px;
    margin-bottom: 20px;
}

